@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #030727, #C1E5F5);
    }

    section#login {
        width: 85vw;
        box-shadow: 0px 0px 19px 0px rgba(255, 255, 255, 0.404);

    }

    div#img {
        float: left;
        width: 45%;
        height: 100%;
    }

    div#texto {
        float: right;
        width: 55%;
        margin-top: 15%;
    }

    form > a.botao {
        text-align: center;
        font-size: 0.7em;
        display: block;
        color: black;
        margin-top: 10px;
    }
    
    form > a.botao > span {
        font-size: 1.2em;
        color: black;
        
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #030727, #C1E5F5);
    }

    section#login {
        width: 900px;
        box-shadow: 0px 0px 19px 0px rgba(255, 255, 255, 0.404);
    }

    div#img {
        float: right;
        width: 45%;
        height: 100%;
    }

    div#texto {
        float: left;
        width: 55%;
        margin-top: 15%;
    } 

    form > a.botao {
        text-align: center;
        font-size: 0.9em;
        display: block;
        color: black;
        margin-top: 10px;
    }
    
    form > a.botao > span {
        font-size: 1.5em;
        color: black;
        
    }
}